div#general{
    background-image: url(https://image.freepik.com/foto-gratis/equipos-gimnasio-gimnasio_23-2147949744.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin:auto;
	width:100%;
	height:100%;
}

div#izquierda{
	width: 49%;
	height:100%;
    float: left;
}

div#derecha{
	width: 49%;
	height:100%;
	float: right;
}

button {
    margin: 10px 10px;
    width: 95%;
    height: 95%;
    font-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}