<div class="row justify-content-center text-center h-100">
    <div class="col-md-6 my-auto">
        <h1 class="display-1 mb-2 text-white">OnGym</h1>
        <h3 class="mb-5 text-white ">
            <em>el mejor gimnasio online</em>
        </h3>
        <div class="aling-self-center text-center">
            <button type="button" class="btn btn-info btn-lg m-1  text-white" routerLink="/login/Trainer">
        Soy Entrenador
        <br>
      </button>
            <button type="button" class="btn btn-info btn-lg m-1  text-white" routerLink="/login/Athlete">
        Soy Deportista
        <br>
      </button>
        </div>
    </div>
</div>