<div class="row m-4">
    <div class="col-md-4 p-4" *ngFor="let exercise of exercises">
        <div class="card text-center">
            <div class="card-header bg-dark text-center text-white d-flex justify-content-between align-items-center">
                <h4 class="text-center text-white">{{exercise.idExercises}}.{{exercise.name}}</h4>
            </div>
            <img class="card-img-top" [src]="exercise.image">
            <div class="card-body">
                <h4>descripcion</h4>
                <p>{{exercise.description}}</p>
                <h4>set's</h4>
                <p>{{exercise.set}}</p>
                <h4>repeticiones</h4>
                <p>{{exercise.repetitions}}</p>
            </div>
        </div>
    </div>
</div>