<div class="row">
    <div class="container">
        <br><br><br>
        <div class="card">
            <div class="card-header">
                Iniciar Sesión
            </div>
            <div class="card-body">
                <form (submit)="login()">
                    <div class="form-group">
                        <input type="email" [(ngModel)]="user.correo" name="correo" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <button routerLink={{profileRedirect}} type="submit" class="btn btn-primary">
                        Iniciar Sesión
                    </button>
                    <br><br>
                    <div class="form-group">
                        Si no está registrado, lo puede hacer acá:
                    </div>
                    <button type="button" class="btn btn-primary" routerLink={{registroRedirect}}>
                        Registro
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>