<div class="row">
  <div class="col-md-4 mx-auto">
    <br><br><br>
    <div class="card">
      <div class="card-header">
        Iniciar Sesión
      </div>
      <div class="card-body">
        <form (submit)="login()">
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
          </div>
          <button mat-stroked-button type="submit">
            Iniciar Sesión
          </button>
          <br><br>
          <div class="form-group">
            Si no está registrado, lo puede hacer acá:
          </div>
          <button mat-stroked-button type="button">
            Registro
          </button>
        </form>
      </div>
    </div>
  </div>
</div>