<div class="row">
  <div class="col-md-4 mx-auto">
    <br><br><br>
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-primary" routerLink="/mirarDeportistas">
            Mirar Atletas
        </button>
        <br><br>
        <button type="button" class="btn btn-primary" routerLink="/rutina">
            Crear Rutinas
        </button>
        <br><br>
        <button type="button" class="btn btn-primary" routerLink="/ejercicio">
            Crear Ejercicios
        </button>
      </div>
    </div>
  </div>
</div>
